/* header styles */
.header {
    background-color: black;
}
.body {
    background-color: rgb(56, 56, 59);
}
.logo-img {
    width: 120px;
    margin-left: 10px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5px;
}
.ul-list {
    display: flex;
    margin-top: 10px;
}
.li-list {
    margin: 10px;
}
.list-a {
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto';
    transition: 0.3s linear;
}
.toggle-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 40px;
    cursor: pointer;
    display: none;

}
.line {
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    transition: all 0.3s linear;
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}

/* slider */
.slide {
    width: 100%;
}
.img-slider {
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.slider-wrapper {
    position: relative;
}
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    opacity: 70%;
    color: #7bf137;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.arrow-left {
    left: 30px;
}
.arrow-right {
    right: 30px;
}
.slider-title {
    position: absolute;
    top: 150px;
    right: 420px;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto';
    text-shadow: 5px 5px 5px black;
    
}
.slider-text {
    position: absolute;
    top: 200px;
    right: 200px;
    color: #fff;
    font-size: 40px;
    max-width: 400px;
    width: 100%;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 5px 5px 5px black;

}
.dots {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}
.dot {
    width: 15px;
    height: 15px;
    background-color: #fff;
    opacity: 70%;
    cursor: pointer;
    border-radius: 50%;
    margin: 5px;
}
.dot.active {
    background-color: #7bf137;
}

/* section 2/ accordion*/
.section2-wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 60px;
}
.accordion-title {
    font-size: 20px;
    color: #7bf137;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}
.accordion-text {
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.icon-wrapper {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}
.fa-solid {
    color: #7bf137;
    font-size: 30px;
}
.accordion-flex {
    display: flex;
    justify-content: space-between;
}
.accordion-container {
    max-width: 320px;
    width: 100%;
    margin-top: 60px;
    background-color: #26872e;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}
.accordion-div-title {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
}
.accordion-div-text {
    width: 250px;
    margin-top: 25px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto';
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s linear;
}
.fa-angle-down {
    color: #fff;
    vertical-align: middle;
    margin-left: 20px;
    position: absolute;
    cursor: pointer;
    
}
.accordion-container.activecontainer .accordion-div-text {
    height: 140px;
    padding: 10px;
}
.accordion-container.activecontainer .fa-angle-down {
    transform: rotate(180deg);
    transition: 0.5s linear;
}

/* section3 */
.api {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.section3-title {
    font-size: 20px;
    color: #7bf137;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 80px;
    text-align: center;
}
.section3-text {
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
    
}
.list {
    display: flex;
    justify-content: space-between;
}
.names {
    color: #fff;
    font-family: 'Merriweather', serif;
}
.user-img {
    height: 100%;
}

/* section4 */
.section4-wrapper {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.section4-title {
    font-size: 20px;
    color: #7bf137;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 50px;
}
.section4-text {
    max-width: 450px;
    width: 100%;
    margin-top: 20px;
    font-size: 30px;
    color: #fff;
    font-family: 'Roboto';
    text-transform: uppercase;
    
}
.contact-box {
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 90px;
}
.contact-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.number {
    color: #fff;
    font-size: 20px;
    margin-left: 25px;
    text-align: center;
}

.form {
    width: 40%;
}
.form-heading {
    font-size: 30px;
    color: #fff;
    font-family: 'Roboto';
    text-transform: uppercase;
    margin-top: 85px;
    margin-bottom: 50px;
}
/* form */
.input {
    max-width: 350px;
    width: 100%;
    height: 60px;
    /* margin-bottom: 20px; */
    border-radius: 5px;
    border: 1px solid #7bf137;
    background-color: rgb(56, 56, 59);
    padding-left: 10px;
    color: #fff;
    font-size: 18px;
    font-family: 'Merriweather', serif;
    text-transform: capitalize;

}
.input:focus {
    outline: none;
}
.send-button {
    max-width: 350px;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    background-color: black;
    font-size: 20px;
    color: #7bf137;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.5s linear;
}
.error-text {
    color: red;
    font-style: italic;
    display: block;
    margin-bottom: 20px;
}
/* hover effects */
.list-a:hover {
    color: #7bf137;
    
}
.accordion-container:hover .fa-solid {
    color: #fff;
}
.accordion-container:hover .icon-wrapper {
    background-color: #7bf137;
}
.accordion-container:hover {
    background-color: black;
}
.names:hover {
    color: #7bf137;
}
.number:hover {
    color: #7bf137;
}
.send-button:hover {
    background-color: #7bf137;
    color: #fff;
}








